#a h1{
    position:absolute;
    top: 0;
    color: green;
    padding-left: 60vh;
    font-size: 58px;
}
nav{
    width: 100%;
    height:50px;
    background-color: black;
    justify-content: space-around;
    display: flex;
    margin: 0;
}
nav a{
    margin: 0;
    color:yellow;
    padding: 15px;
    text-decoration: none;
    font-size: 20px;
}
nav a:hover{
    background-color:blue;
    color:white;
}
#d{
    justify-content:space-around;
    display: flex;
     }
 
   
 #an,#bn,#cn{
     padding:85px;
     text-align: center;
     font-size: 16px;
 }
 #f{
    text-align: center;
 }
 label{
    width: 80px;
    font-size: 20px;
    font-weight: bold;
    display:inline-block;
    margin: 0.2cm;
 }
 input{
    width: 6cm;
    height:14px;
    padding: 6px;
    font-size: 16px;
    border: 2px solid black;
 }
 

 button{
    color:yellow;
    background-color:black;
    width: 3cm;
    padding: 6px;
    font-size: 18px;
    border:2px solid black ;
    text-decoration: none;
 }
 button:hover{
    color: white;
    background-color: blue;
 }
 button a{
    color:yellow;
    background-color:black;
    text-decoration: none;
 }
 button a:hover{
    color: white;
    background-color: blue;
 }
